@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Outfit', sans-serif;
}

body {
  position: relative;
}

.active {
  color: #EF6820;
  background: #FDEAD7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navbar Page  */

nav {
  top: 0;
  left: 0;
  right: 0;
  width: 99vw;
  background-color: white;
  display: flex;
  height: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  gap: 357px;
}

@media (max-width: 375px) {
  nav {
    width: 100vw;
    padding: 20px 80px;
  }
}

.nav--left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  width: 483px;
  /* width: 700px; */
  /* height: 48px; */
  height: 88px;
  color: black;
  /* margin-left: -30px; */
  /* margin-right: auto; */
}

.nav--left--first {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 142px;
  height: 48px;
}

@media (max-width: 420px) {
  .nav--left--first {
    width: 30vw;
    margin-left: -50px;
  }
}

.nav--left--first img {
  width: 100%;
}

.nav--left--second {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 27px;
  width: 301px;
  height: 24px;
}

.nav--left--second a {
  color: black;
}

@media (max-width: 700px) {
  .nav--left--second {
    display: none;
  }
}


.nav--left--second a {
  text-decoration: none;
}

.nav--right {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px;
  gap: 24px;
  /* margin-right: -60px; */
  /* width: 705px; */
  width: 100%;
  height: 64px;
}

@media (max-width: 700px) {
  .button {
    width: 56px;
    height: 56px;
  }
}

@media (max-width: 700px) {
  .nav--right {
    display: none;
    right: 40px;
    width: 30vw;
    border: 5px solid red;
  }
}

@media (max-width: 700px) {
  .burger {
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
}

@media (min-width: 700px) {
  .burger {
    display: none;
  }
}


.open--nav {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 65px;
  right: 0;
  top: 0;
  width: 80vw;
  padding-left: 5%;
  padding-top: 15%;

  /* width: 360px; */
  height: 900px;
  /* left: 68px; */
  z-index: 1;
}

.open--nav a {
  color: black;
}

.links--container {
  display: flex;
  flex-direction: column;
  /* margin-top: 0; */
  height: 500px;
  gap: 20px;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 64px;
  cursor: pointer;
}

.link:hover {
  background: #FDEAD7;
}

.open--nav a {
  text-decoration: none;
}

.nav--right input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 8px;
  width: 559px;
  height: 64px;
  border-bottom: 1px solid #D0D0D5;
}


.nav--right a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 122px;
  height: 56px;
  border: 1px solid #EF6820;
  border-radius: 8px;
  color: white;
  background-color: #EF6820;
  /* border-color: #EF6820; */
  text-decoration: none;
}




/* Autumn Page  */

.autumn--wrapper {
  position: relative;
  margin-top: 0px;
  width: 100vw;
  height: 740px;
  /* border: 4px solid purple; */
}


.asian--text {
  color:#EF6820;
  font-family: 'Outfit';
  position: absolute;
  margin-top: 30PX;
  margin-left: 100px;
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 728px) {
  .asian--text {
    font-size: 18px;
    margin-left: 20px;
  }
}

.autumn--wrapper > img {
  /* display: none; */
  /* position: absolute; */
  width: 100%;
  height: 80vh;
  /* z-index: 0; */
}

.autumn--container {
  position: absolute;
  color: #FFFFFF;
  width: 80vw;
  height: 630px;
  /* border: 8px solid red; */
  margin-top: -630px;
  margin-left: 100px;
  /* z-index: 1; */
}

@media (max-width: 800px) {
  .autumn--container {
    margin-left: 20px;
    width: 80vw;
  }
}

.autumn--head {
  position: relative;
  width: 38vw;
}

@media (max-width: 1600px) {
  .autumn--head {
    width: 50vw;
  }
}

@media (max-width: 800px) {
  .autumn--head {
    width: 80vw;
  }
}

.autumn--head h1 {
  display: flex;
  flex-wrap: wrap;
  /* position: absolute; */
  color: #FFFFFF;
  /* width: 741px; */
    height: 264px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 68px;
    /* or 138% */
    font-feature-settings: 'liga' off;
}

@media (max-width: 1250px) {
  .autumn--head h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .autumn--head h1 {
    font-size: 2rem;
    line-height: 56px;
    width: fit-content;
  }
}

.autumn--tail {
  margin-top: 120px;
}

@media (max-width: 800px) {
  .autumn--tail {
    margin-top: 80px;
    width: fit-content;
  }
}

.autumn--tail h1 {
  color: #FFFFFF;
    width: 40vw;
    height: 264px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 58px;
    /* or 138% */
    font-feature-settings: 'liga' off;
}

@media (max-width: 1100px) {
  .autumn--tail h1 {
    font-size: 24px;
  }
}

@media (max-width: 800px) {
  .autumn--tail h1 {
    font-size: 1.5rem;
    line-height: 36px;
    width: 80vw;
  }
}

.autumn--button {
  display: flex;
  gap: 50px;
  margin-top: -140px;
}

.autumn--button img {
  width: 20%;
}

/* Autumn Hero  Section */

.hero--image--container {
  position: relative;
  width: 100vw;
}

.hero--image {
  position:relative;
  height: 725px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.hero--text--container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  position: absolute;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  /* position: absolute; */
  width: 40vw;
  height: 418px;
  left: 80px;
  top: 155px;
}

@media (max-width: 1600px) {
  .hero--text--container {
    margin-top: -100px;
  }
}

@media (max-width: 1050px) {
  .hero--text--container {
    width: 70vw;
  }
}

@media (max-width: 800px) {
  .hero--text--container {
    width: 80vw;
    margin-left: -60px;
    margin-top: -100px;
  }
}

.clear--text {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 16px;
  width: 10vw;
  height: 34px;
}

@media (max-width: 800px) {
  .clear--text {
    width: 40vw;
  }
}

.clear--text img {
  width: 32px;
  height: 32px;
}

.clear--text h3 {
  width: 5rem;
    height: 34px;
  
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    /* identical to box height, or 34px */
  
    text-transform: uppercase;
  
    color: #FFFFFF;
}

.hero--text h1 {
  display: flex;
  flex-wrap: wrap;
  width: 35vw;
  height:fit-content;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 88px;
    /* or 138% */
  
  font-feature-settings: 'liga' off;
  color: #FFFFFF;
}

@media (max-width: 1050px) {
  .hero--text h1 {
    width: 60vw;
  }
}

@media (max-width: 800px) {
  .hero--text h1 {
    width: 80vw;
    font-size: 40px;
  }
}

.hero--buttons {
  display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15%;
    width: 25vw;
    height: 64px;
}

@media (max-width: 800px) {
  .hero--buttons {
    width: 80vw;
  }
}

.black--button {
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
    /* border: 1px solid gray; */
    width: 10vw;
    height: 64px;
    color: #FFFFFF;
    border-radius: 8px;
}

@media (max-width: 800px) {
  .black--button {
    width: 30vw;
  }
}

.orange--button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 10vw;
  height: 64px;
  background: #EF6820;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .orange--button {
    width: 30vw;
  }
}




/* Hero Body  */

.hero--body--container {
  width: 100vw;
  position: relative;
  /* border: 4px solid black; */
  height: 1000px;
}

@media (max-width: 800px) {
  .hero--body--container {
    height: 1500px;
  }
}

.weather--wrap {
  display: flex;
  justify-content: center;
  position: relative;
  width: 98.8vw;
  height: 140px;
  margin-top: 100px;
  /* border: 1px solid green; */
}

.weather--updates--wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: flex-start; */
  padding: 0px;
  gap: 60%;
  /* position: absolute; */
  width: 80%;
  /* border: 1px solid red; */
  height: 120px;
  /* left: auto; */
  
  /* margin-right: auto; */
  /* margin-left: auto; */
}

@media (max-width: 1200px) {
  .weather--updates--wrapper {
    gap: 20%;
    width: 90%;;
  }
}

@media (max-width: 800px) {
  .weather--updates--wrapper {
    gap:30%;
    width: 90%;
  }
}

.weather--updates--left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    padding: 0px;
    gap: 8px;
  
    width: 50vw;
    height: 76px;
}

@media (max-width: 1200px) {
  .weather--updates--left {
    width: 50vw;
    height: 150px;
  }
}

@media (max-width: 800px) {
  .weather--updates--left {
    width: 40%;
    margin-left: -60px;
  }
}

.weather--updates--left h1 {
  width: 100%;
    height: 44px;
  
    /* Heading/Large */
  
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    /* identical to box height, or 129% */
  
    letter-spacing: -0.025em;
    font-feature-settings: 'tnum' on, 'lnum' on;
  
    /* Grey/900 */
  
    color: #161518;
}

@media (max-width: 800px) {
  .weather--updates--left h1 {
    font-size: 80%;
  }
}

.weather--updates--left p {
  /* width: 181px; */
    height: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
  margin-top: 40px;
    letter-spacing: 0.01em;
    font-feature-settings: 'tnum' on, 'lnum' on, 'liga' off;
  
    /* Grey/700 */
  
    color: #565560;
}

@media (max-width: 800px) {
  .weather--updates--left p {
    margin-top: 40px;
    font-size: 13px;
  }
}

.weather--daily {
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
  
    width: 5vw;
    height: 24px;
}

.weather--daily p {
  width: 3rem;
  height: 24px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 24px;
  /* identical to box height, or 133% */
  letter-spacing: 0.01em;
  font-feature-settings: 'tnum' on, 'lnum' on, 'liga' off;
  /* Grey/700 */
  color: #565560;
}

.weather--daily img {
  width: 18px;
  height: 18px;
}

.weather--updates--body {
  display: flex;
  flex-direction: row;
  width: 99vw;
  /* border: 3px solid black; */
  margin-top: 180px;
  /* margin-bottom: 500px; */
  gap: 0px;
  justify-content: space-around;
}

@media (max-width: 1200px) {
  .weather--updates--body {
    display: flex;
    justify-content: center;
    gap: 5%;
  }
}

@media (max-width: 800px) {
  .weather--updates--body {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
}

.hourly--updates-wrapper {
  display: flex;
  flex-direction: column;
  width: 35vw;
  /* align-items: space-around; */
  /* position: absolute; */
    /* width: 664px; */
    height: 570px;
    /* left: 80px; */
    /* top: 236px; */
/* border: 1px solid black; */
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(76, 76, 76, 0.25);
    border-radius: 24px;
}

@media (max-width: 800px) {
  .hourly--updates-wrapper {
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
  }
}

.hourly--updates--container {
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  /* align-items: center; */
  /* justify-content: center; */
    padding: 0px;
    gap: 32px;
    /* border: 4px solid rgb(179, 63, 63); */
    /* position: absolute; */
    /* width: 584px; */
    height: 520px;
    /* margin-left: 80px; */
    /* top: 40px; */
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 800px) {
  .hourly--updates--container {
    width: 80%;
    /* gap: 20%; */
  }
}

.hourly--updates--container h1 {
  display: flex;
  align-items: flex-start !important;
  width: 15vw;
    height: 28px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
  
    letter-spacing: -0.01em;
  
    /* Grey/800 */
  
    color: #2B2A30;
}

.single--footer--line {
  width: 30vw;
    height: 2px;
  
    /* Grey/300 */
  
    background: #DCDBE0;
}

.hourly--boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  /* gap: 435px; */
  gap: 80%;
  width: 30vw;
  height: 66px;
}

@media (max-width: 1200px) {
  .hourly--boxes {
    gap: 40%;
  }
}

@media (max-width: 800px) {
  .hourly--boxes {
    width: 70%;
  }
}

.hourly--time {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 15vw;
    height: 56px;
}

.hourly--time h4 {
  width: 60px;
    height: 24px;
  
    /* Paragraph/Medium
  
  For large body texts
  */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.01em;
    font-feature-settings: 'tnum' on, 'lnum' on, 'liga' off;
    /* Grey/900 */
    color: #161518;
}

.hourly--time > p {
  width: 3vw;
    height: 24px;
  
    /* Paragraph/Small
  
  For large body texts
  */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
  
    text-align: center;
    letter-spacing: 0.01em;
    font-feature-settings: 'tnum' on, 'lnum' on;
  
    /* Grey/700 */
  
    color: #565560;
}

.cloudy--icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: flex-end;
    padding: 0px;
  gap: 5px;
    width: 36px;
    height: 56px;
}

.cloudy--icon p {
  width: 36px;
    height: 24px;
  
    /* Paragraph/Small
  
  For large body texts
  */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
  
    text-align: center;
    letter-spacing: 0.01em;
    font-feature-settings: 'tnum' on, 'lnum' on;
  
    /* Grey/700 */
  
    color: #565560;
}

/* Risks -- Container  */

.Risks--wrapper {
  display: flex;
  flex-direction: column;
  width: 35vw;
  /* position: absolute; */
    /* width: 664px; */
    height: 570px;
    /* left: 768px; */
    /* top: 236px; */
    /* border: 3px solid black; */
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(76, 76, 76, 0.25);
    border-radius: 24px;
}

@media (max-width: 800px) {
  .Risks--wrapper {
    margin-top: 50PX;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
  }
}

.Risks--container {
  display: flex;
  flex-direction: column;
  
  width: 80%;
  /* align-items: flex-start; */
    padding: 0px;
    gap: 32px;
    /* border: 2px solid green; */
    /* position: absolute; */
    /* width: 584px; */
    height: 420px;
    /* left: 40px; */
    /* top: 40px; */
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 800px) {
  .Risks--container {
    width: 90%;
  }
}

.Risks--container h1 {
  width: 6rem;
  height: 28px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
    /* identical to box height, or 117% */
  letter-spacing: -0.01em;
    /* Grey/800 */
  color: #2B2A30;
}

.box--wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
    padding: 0px;
    gap: 50%;
/* justify-items: space-around; */
    /* width: 584px; */
    height: 56px;
}

@media (max-width: 1200px) {
  .box--wrapper {
    gap: 20%;
  }
}

@media (max-width: 800px) {
  .box--wrapper {
    gap: 20%;
  }
}

.box--wrapper--left {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  gap: 10px;
}

.box--wrapper--left img {
  width: 32px;
    height: 32px;
}

.box--wrapper--left--text {
  display: flex;
  flex-direction: column;
}

.box--wrapper--left--text h4 {
  width: 46px;
    height: 24px;
  
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    text-align: center;
    letter-spacing: 0.01em;
    font-feature-settings: 'tnum' on, 'lnum' on, 'liga' off;
    /* Grey/900 */
    color: #161518;
}

@media (max-width: 800px) {
  .box--wrapper--left--text h4 {
    font-size: 12px;
    line-height: 24px;
  }
}

.box--wrapper--left--text p {
  width: 124px;
    height: 24px;
    /* Paragraph/Small
  For large body texts
  */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    text-align: center;
    letter-spacing: 0.01em;
    font-feature-settings: 'tnum' on, 'lnum' on;
    /* Grey/700 */
    color: #565560;
}

@media (max-width: 800px) {
  .box--wrapper--left--text p {
    font-size: 10px;
    text-align: left;
    width: 25vw;
  }
}

.box--wrapper--right--text {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
    /* align-items: flex-start; */
    padding: 0px;
    gap: 8px;
    /* border: 2px solid red; */
    /* width: 124px; */
    height: 56px;
}

.box--wrapper--right--text h4 {
  width: 45px;
    height: 24px;
  
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
  
    text-align: center;
    letter-spacing: 0.01em;
    font-feature-settings: 'tnum' on, 'lnum' on, 'liga' off;
  
    /* Grey/900 */
  
    color: #161518;
}

@media (max-width: 800px) {
  .box--wrapper--right--text h4 {
    font-size: 12px;
  }
}

.box--wrapper--right--text p {
  width: 131px;
    height: 24px;
  
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */
  
    text-align: center;
    letter-spacing: 0.01em;
    font-feature-settings: 'tnum' on, 'lnum' on;
  
    /* Grey/700 */
  
    color: #565560;
}

@media (max-width: 728px) {
  .box--wrapper--right--text p {
    font-size: 80%;
    text-align: left;
    width: 30vw;
  }
}


/* Population Section  */

.weather--population--wrapper {
  position: relative;
    width: 100vw;
    height: 980px;
    /* left: 0px; */
    /* top: 1726px; */

    background: #FFF3E7;
}

@media (max-width: 800px) {
  .weather--population--wrapper {
    height: 2200px;
  }
}

.population--container {
  display: flex;
  flex-direction: column;
  /* border: 3px solid green; */
  height: 950px;
  width: 80vw;
  gap: 10%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}

.population--container--head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 56px;
  /* border: 2px solid red;   */
    /* position: absolute; */
    /* width: 1352px; */
  height: 446px;
    /* left: 80px; */
  top: 96px;
}

.population--container--content--head {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 60%;
  
  width: 75vw;
  height: 44px;
}

.population--container--content--head h1 {
  width: 20%;
    height: 44px;
  
    /* Heading/Large */
  
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    /* identical to box height, or 129% */
  
    letter-spacing: -0.025em;
    font-feature-settings: 'tnum' on, 'lnum' on;
  
    /* Grey/900 */
  
    color: #161518;
}

.population--container--content--head p {
  width: 15%;
    height: 24px;
    /* Paragraph/Medium
  For large body texts
  */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.01em;
    font-feature-settings: 'tnum' on, 'lnum' on, 'liga' off;
    /* Grey/700 */
    color: #565560;
}

.search--population {

  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 8px;
  
  width: 70vw;
  height: 64px;
  
  /* Grey/200 */
  
  border-bottom: 1px solid #E8E7EA;
}

.population--locations {
  display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
  
    width: 70vw;
    height: 226px;
}

@media (max-width: 800px) {
  .population--locations {
    display: flex;
    flex-direction: column;
  }
}

.population--states--container {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
  
    width: 31.9%;
    height: 226px;
}

@media (max-width: 800px) {
  .population--states--container {
    width: 90%;
  }
}

.population--states--container > p {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
  
    width: 7vw;
    height: 22px;
}

@media (max-width: 800px) {
  .population--states--container > p {
    width: 30vw;
  }
}

.population--states--container > h1 {
  width: 12vw;
    height: 88px;
  
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 44px;
    /* or 157% */
  
    letter-spacing: -0.025em;
    font-feature-settings: 'tnum' on, 'lnum' on;
  
    color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 800px) {
  .population--states--container > h1 {
    width: 50vw;
    font-size: 25px;
  }
}

.population--states--container > .viewmore {
  /* width: 434px; */
    height: 24px;
  
    /* Paragraph/Small
  
  For large body texts
  */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
  
    letter-spacing: 0.01em;
    font-feature-settings: 'tnum' on, 'lnum' on;
  
    /* Primary/500 */
  
    color: #EF6820;
}

.population--states {
display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 15vw;
  height: 28px;
}

.population--states > img {
  width: 24px;
    height: 24px;;
}

.population--states > h4 {
  width: 12vw;
    height: 28px;
  
    /* Heading/xSmall */
  
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
  
    letter-spacing: -0.01em;
  
    /* Grey/900 */
  
    color: #161518;
}

.population--tail {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
  
    /* position: absolute; */
    /* width: 1205px; */
    height: 294px;
    left: 80px;
    top: 622px;
}

@media (max-width: 800px) {
  .population--tail {
    margin-top: 500px;
  }
}

.population--tail > h1 {
  /* width: 155px; */
    height: 44px;
  
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    /* identical to box height, or 183% */
  
    letter-spacing: -0.025em;
    font-feature-settings: 'tnum' on, 'lnum' on;
  
    /* Grey/900 */
  
    color: #161518;
}

.population--tail--location-container {
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 56px;
  
    /* width: 1205px; */
    height: 200px;
}

@media (max-width: 800px) {
  .population--tail--location-container {
    gap: 400px;
    height: max-content;
  }
}

.population--tail--rows {
  display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 80%;
  /* border: 3px solid; */
    /* width: 25vw; */
    height: 72px;
}

@media (max-width: 1500px) {
  .population--tail--rows {
    gap: 40%;
  }
}

@media (max-width: 1100px) {
  .population--tail--rows {
    gap: 20%;
  }
}

@media (max-width: 800px) {
  .population--tail--rows {
    display: flex;
    flex-direction: column;
    gap: 10vh;
  }
}

.population--tail--contents {
  display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
  /* width: 10vw; */
  width: max-content;
  /* border: 2px solid red; */
    /* width: 144px; */
    height: 72px;
}

.population--tail--contents img {
  width: 72px;
    height: 72px;
  
    background: #FFFFFF;
}

.location--states {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;
  /* width: 5vw; */
  /* border: 2px solid green; */
    /* width: 56px; */
    height: 69px;
}

.location--states > h1 {
  display: flex;
  flex-wrap: wrap;
  width: 210%;
    height: 44px;
  
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 44px;
    /* identical to box height, or 183% */
  
    letter-spacing: -0.025em;
    font-feature-settings: 'tnum' on, 'lnum' on;
  
    /* Grey/900 */
  
    color: #161518;
}

@media (max-width: 800px) {
  .location--states {
    width: 20vw;
  }
}

.location--states > p {
  /* width: 56px; */
    height: 24px;
  
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
  
    letter-spacing: -0.025em;
    font-feature-settings: 'tnum' on, 'lnum' on;
  
    /* Grey/900 */
  
    color: #161518;
}



/* footer Page  */



.footer {
  width: 100vw;
}

@media (max-width: 1500px) {
  .footer {
    width: 100vw;
    /* margin-top: 100px; */
  }
}

footer {
  /* position: absolute; */
  width: 100%;
  height: 500px;
  margin-left: 0;
  margin-right: 0;
  bottom: 0px;
  /* padding: 20%; */
  color: white;
  /* z-index: 10; */
}

@media (max-width: 1400px) {
  footer {
    height: 400px;
  }
}

@media (max-width: 600px) {
  footer {
    height: 950px;
  }
}

@media (max-width: 420px) {
  footer {
    height: 900px;
  }
}


div.footer--top {
  width: 100%;
  height: 20%;
  background-color: #F2E7D5;
}

@media (max-width: 600px) {
  div.footer--top {
    width: 100%;
    height: 10%;
    background-color: #F2E7D5;
    /* z-index: 9; */
  }
}


.bottom {
  width: 100%;
  height: 90%;
  padding: 4% 8% 8% 8%;
  background-color: #B93815;
}


.footer--head {
  display: flex;
  flex-direction: row;
  /* width: 100vw; */
}

@media (max-width: 600px) {
  .footer--head {
    display: flex;
    flex-direction: column;
  }
}


.footer--head--left {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  gap: 30%;
}

@media (max-width: 600px) {
  .footer--head--left {
    display: flex;
    flex-direction: column;
    /* gap: 70% !important; */
  }
}


.footer--head--left img {
  gap: 4px;
  /* position: absolute; */
  width: 160px;
  height: 48px;
  /* left: 81px; */
  /* top: 144px; */
}

.footer--links--left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  /* position: absolute; */
  width: 40vw;
  height: 28px;
  /* left: 81px; */
  /* top: 228px; */
}

@media (max-width: 1400px) {
  .footer--links--left {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}

@media (max-width: 1200px) {
  .footer--links--left {
    width: 60vw;
    /* margin-top: 30px; */
    /* border: 1px solid white; */
  }
}

@media (max-width: 600px) {
  .footer--links--left {
    height: 300px;
    gap: 16px;
    margin-top: 40px;
  }
}

@media (max-width: 900px) {
  .footer--links--left {
    gap: 10px;
  }

}

@media (max-width: 600px) {
  .footer--links--left {
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 26px;
  }
}


.footer--head--left a {
  text-decoration: none;
  color: white;
  /* margin-top: 0px; */
}

@media (max-width: 1200px) {
  .footer--head--left a {
    /* border: 1px solid white; */
    width: max-content;
  }
}

@media (max-width: 800px) {
  .footer--head--left a {
    /* border: 1px solid white; */
    width: max-content;
    font-size: 12px !important;
  }
}

@media (max-width: 600px) {
  .footer--head--left a {
    /* font-size: 20px !important; */
    /* width: 59px; */
    height: 28px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px !important;
    line-height: 28px;
  }
}

.footer--head--right {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* padding: 0px; */
  gap: 40px;

  /* position: absolute; */
  width: 30vw;
  /* height: 108px; */
  /* left: 1089px; */
  /* top: 144px; */
}

@media (max-width: 600px) {
  .footer--head--right {
    margin-top: 50px;
    width: 100%;
  }
}


.app--stores {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  gap: 40px;

  /* position: absolute; */
  width: 100%;
  /* height: 108px; */
}

.apple--app {
  width: 50%;
}

.apple--app img {
  width: 100%;
  height: 100%;
}

.google--app {
  width: 50%;
}

.google--app img {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .app--stores {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .app--stores img {
    width: 80%;
    height: 90%;

  }
}

hr {
  margin-top: 50px;
}


.footer--foot {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
  margin-bottom: 0;
  margin-top: -70px !important;
  padding-bottom: 5%;
}


@media (max-width: 1400px) {
  .footer--foot {
    margin-top: -100px !important;
  }
}

@media (max-width: 900px) {
  .footer--foot {
    padding-bottom: 10%;
  }
}

@media (max-width: 600px) {
  .footer--foot {
    margin-top: 50px !important;
    display: flex;
    /* height: 100px; */
    flex-direction: column;
    align-items: flex-start;
    /* padding-bottom: 15% !important; */
    height: 10%;
  }
}


.footer--foot--left {
  margin-right: auto;
}

@media (max-width: 600px) {
  .footer--foot--left {
    position: absolute;
    margin-top: 80px;
  }
}

@media (max-width: 420px) {
  .footer--foot--left p {
    font-size: 12px;
  }
}


.footer--foot--right {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  gap: 50px;
  /* width: 30vw; */
}

@media (max-width: 1100px) {
  .footer--foot--right {
    width: 30vw;
  }
}


.footer--foot--right--images {
  display: flex;
  flex-direction: row;
  width: 8.5vw;
  gap: 7%;
}

@media (max-width: 1100px) {
  .footer--foot--right--images p {
    display: none;
    width: 20px;
  }
}

.footer--foot--right--images img {
  display: flex;
  flex-direction: row;
  width: 15px;
  height: 20px;
  /* gap: 10px; */
}

.footer--foot--right--images p:nth-last-child() {
  display: flex;
  flex-direction: row;
  width: 100px;
}







































